<!-- Start Carousel -->
<div id="carousel-demo" class="carousel">
  <div class="item-1">
    <%= image_pack_tag 'food/food1.jpg'%>
  </div>
  <div class="item-2">
    <%= image_pack_tag 'food/food2.jpg'%>
  </div>
  <div class="item-3">
    <%= image_pack_tag 'food/food3.jpg'%>
  </div>
  <div class="item-4">
    <%= image_pack_tag 'food/food4.jpg'%>
  </div>
  <div class="item-5">
    <%= image_pack_tag 'food/food5.jpg'%>
  </div>
  <div class="item-6">
    <%= image_pack_tag 'food/food6.jpg'%>
  </div>
</div>
<!-- End Carousel -->
		